*{
    box-sizing: border-box;
}
div > div > h1{
    font-family:  'Times New Roman', Times, serif, monospace;
    font-weight: bold;/*already it is bold*/
    font-size: 3em;
    text-align: center;
}
div {
    background-color: rgba(100, 100, 100, 0.3);
}
#div1002{
    background-color: rgba(115, 51, 51, 0.3);
    width: 50%;
    margin-left:25%;
    display: flex;
    flex-direction: row;
    
}
h2{
    margin-left: 10px;
    margin-right: 10px;
}
#foot10{
    text-align: center;
}
#btn_10{
    font-size: 1.5em;
    width: 20%;
}
#tab_01{
    width:200px
}